.tiptap-animate
  :is(h1, p, ul, ol, blockquote, pre, hr):not(.tiptap-no-animate) {
  animation: show 500ms linear forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
