# fly.toml app configuration file generated for hypr-server on 2025-01-01T19:42:13+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hypr-server'
primary_region = 'sjc'

[build]
dockerfile = 'Dockerfile'

[env]
PORT = '8080'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1
