# Meeting Information:

# Participants:

<participants>
{{ participants | tojson }}
</participants>

# Raw Note:

<raw_note>
{{ editor }}
</raw_note>

# Meeting Transcript:

<transcript>
{{ timeline | tojson }}
</transcript>

{% if example %}
For now, just return this:

<example>
{{ example }}
</example>

{% endif %}

Now, based on the above information, please generate an enhanced note.
Note that participants list is already displayed in the UI, so you don't need to repeat it.
