# Meeting Information:

# Participants:

<participants>
{{ participants | tojson }}
</participants>

# Raw Note:

<raw_note>
{{ editor }}
</raw_note>

# Meeting Transcript:

<transcript>
{% for item in timeline %}
- {{ item.text }}
{% endfor %}
</transcript>

{% if example %}
For now, just return this:

<example>
{{ example }}
</example>

{% else %}

Now, based on the raw note and other informations, please generate an enhanced note in markdown format.
Note that above informations like participants, transcript, etc. are already displayed in the UI, so you don't need to repeat them.

{% endif %}
