<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>This app requires access to your microphone to record your voice during online meetings.</string>
  <key>NSAudioCaptureUsageDescription</key>
  <string>This app requires access to the microphone to capture audio from other participants in the online meeting.</string>
  <key>NSCalendarsUsageDescription</key>
  <string>This app requires access to your calendar to read events.</string>
  <key>NSCalendarsFullAccessUsageDescription</key>
  <string>This app requires access to your calendar to read events.</string>
</dict>
</plist>
