.tiptap-animate h1:not(.tiptap-no-animate),
.tiptap-animate h2:not(.tiptap-no-animate),
.tiptap-animate h3:not(.tiptap-no-animate),
.tiptap-animate h4:not(.tiptap-no-animate),
.tiptap-animate h5:not(.tiptap-no-animate),
.tiptap-animate h6:not(.tiptap-no-animate),
.tiptap-animate p:not(.tiptap-no-animate),
.tiptap-animate ul:not(.tiptap-no-animate),
.tiptap-animate ol:not(.tiptap-no-animate),
.tiptap-animate blockquote:not(.tiptap-no-animate),
.tiptap-animate pre:not(.tiptap-no-animate),
.tiptap-animate hr:not(.tiptap-no-animate) {
  animation: show 500ms linear forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
