.tiptap p {
  margin-top: 0.325em;
  margin-bottom: 0.325em;
}

.tiptap li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tiptap p,
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6,
.tiptap ul,
.tiptap ol,
.tiptap blockquote,
.tiptap pre,
.tiptap hr {
  animation: show 800ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
