@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--seed-scale-color-gray-900);
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply select-none;
  }

  /* Allow selection for input elements and contenteditable */
  input, textarea, [contenteditable="true"] {
    @apply select-text;
  }
}
