<participants>
{{ participants | tojson }}
</participants>

<raw_note>
{{ editor }}
</raw_note>

<transcript>
{% for item in timeline.items %}
- {{ item.text }}
{% endfor %}
</transcript>

Your job is to write a perfect note based on the above informations.
Note that above given informations like participants, transcript, etc. are already displayed in the UI, so you don't need to repeat them.

Also, before writing enhanced note, write multiple top-level headers inside <headers></headers> tags, and then write the note based on the headers.
Ideally, number of headers should be less than 4. Core topics only.

Each items in <headers></headers> tags MUST be used as markdown headers('#') in the final note. No other headers are allowed.
For example, if you wrote <headers>\n- Header 1\n- Header 2\n</headers>, you should continue writing the note like this:

```md
# Header 1

<CONTENT>

# Header 2

<CONTENT>
```

When writing <CONTENT>, each sentence should be very concise. Bullet points are always preferred.
